.bg-header {
  background-color: rgba(219, 66, 76, 0.55);
}

.bg-ourcourse {
  background: #ffffff;
  background: linear-gradient(
    360deg,
    rgba(255, 255, 255, 1) 50%,
    rgba(230, 242, 242, 1) 50%
  );
}
.btn-primary {
  display: inline-block;
  padding: 15px 30px;
  border: none;
  font-weight: bold;
  border-radius: 5px;
  background-color: #fcbf4b;
  color: white;
  box-shadow: -5px 10px 10px 0px rgba(0, 0, 0, 0.15);
}

.btn-primary:hover {
  background-color: white;
  color: #2fccd6;
  transition: all 0.6s ease-in-out;
}

.join-btn {
  background-color: #2fccd6;
}

/* navbar  */
